
<div data-bs-theme="blue">
  <h1 style="color: #fff; text-align: center; margin: 10px 5px; font-family: 'Comic Sans MS', cursive; background-color: #4a90e2; padding: 20px; border-radius: 5px;">
    Lista de Suporhéroes 
  </h1>
</div>
<nav style="background-color: #99b2b4;" class="navbar navbar-expand-lg">
    <div class="container-fluid">          
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a  href="#">
          <img src="/images/logo.png" alt="Inicio Icon" class="logo">
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a  href="/">
              <img src="/icons/home.svg" alt="Inicio Icon" class="logo">
            </a>
          </li>
          <li class="nav-item">
            <a  href="/about">
              <img src="/icons/info.svg" alt="Inicio Icon" class="logo">
            </a>
          </li>
          <li class="nav-item">
            <a  href="/contact">
              <img src="/icons/contact.svg" alt="Inicio Icon" class="logo">
            </a>
          </li>
          <li class="nav-item dropdown">
            <a  href="/">
              <img src="/images/lista.png" alt="Inicio Icon" class="logo">
            </a>
            <ul  class="dropdown-menu" style="background-color: #4a90e2; color: #343a40;">
              <li>
                <a class="dropdown-item" style="color: #0f0f0f; font-family: 'Comic Sans MS'; font-size: 22px;"  href="/api/heroe/crear">Nuevo</a>
              </li>
              <li><a class="dropdown-item" style="color: #0f0f0f; font-family: 'Comic Sans MS'; font-size: 22px;"  href="/api/heroes">Listado</a></li>
              <li><a class="dropdown-item" style="color: #0f0f0f; font-family: 'Comic Sans MS'; font-size: 22px;"  href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>