<section>
    <div class="container text-center mt-5">
        <h1 class="display-4 text-primary"> <strong>Acerca de Nosotros</strong></h1>
        <p class="lead" style="font-size: 22px; font-family: 'Comic Sans MS'; font-weight: bold;"><strong>Somos un equipo interdiciplinario de docentes altamente capacitados, con muchos años de experencia,
            decididos en sacar a relucir el potencial de cada uno de nuestros alumnos, a base de practicas guiadas.</strong>
        </p>        
        <p><br></p>        
    </div>
</section>