<section>
    <h1>
        Acerca de Nosotros
    </h1>

    <p>
        Somos un equipo de Docente empeñados en sacar a relucir  el potencial de cada alumno a base de practicas quiadas
    </p>
</section>