<section>
    <div class="container text-center mt-5">
        <h1 class="display-4 text-primary">¡Contáctanos!</h1>
        <p class="lead text-secondary" style="font-size: 22px; font-family: 'Comic Sans MS'; font-weight: bold; color: black;">
            <strong>Si tienes alguna pregunta, no dudes en contactarme.</strong>
        </p>
        <a href="mailto:ingmatinmsalas@gmail.com" style="font-size: 22px; font-family: 'Comic Sans MS'; font-weight: bold;">ingmartinmsalas@gmail.com</a>
        <p><br></p>        
    </div>
</section>