<section>
    <h1>
        Contactáctanos
    </h1>

    <p>
        Puedes comunicarte con nosotros a travéz del correo 
    </p>
    <a href="mailto:ingmatinmsalas@gmail.com">ingmartinmsalas@gmail.com</a>
</section>